<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First TestNG Framework" thread-count="2" parallel="methods">
	<test name="Any Automation Test">
		<classes>
			<class name="com.firstTestNG.tests.SampleLoginTest"></class>
		</classes>
	</test>
</suite>